:root {
    --main-background-color: hsl(225, 100%, 98%);
    --dark-text-color: hsl(223, 47%, 23%);
    --continue-button-color: hsl(245, 75%, 52%);
    --text-color: hsl(224, 23%, 55%);
    --plans-color: hsl(225, 100%, 94%);
    --hover: hsl(245, 50%, 48%);
}



